.tabbar {
	display: flex;
	width: 100%;
	height: 100%;
	font-size: 1.8667vw /* 14px -> 1.8667vw */;
	background-color: #f6f6f6;
}

.tabbar-item {
	flex-grow: 1;
	display: flex;
	flex-direction: column;
	justify-content: center;
	text-align: center;
	color: #c2cfcc;
}

.tabbar-item-active {
	background-color: #e7f3f0;
	color: #00b38a;
}

.tabbar-item .iconfont {
	font-size: 5.3333vw /* 40px -> 5.3333vw */;
}
