<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Document</title>
		<script src="https://cdn.jsdelivr.net/npm/vue@3.2.47/dist/vue.global.min.js"></script>
	</head>
	<body>
		<div id="root"></div>
	</body>
	<script>
		const app = Vue.createApp({
			data() {
				return {
					inputValue: '',
					list: [],
				};
			},
			methods: {
				handleAddItem() {
					this.list.push(this.inputValue);
					this.inputValue = '';
				},
			},
			template: `
				<div>
					<input v-model="inputValue"/>
					<button
						v-on:click="handleAddItem"
						v-bind:title="inputValue"
					>
						增加数据
					</button>
					<ul>
						<todo-item 
							v-for="(item, index) of list" 
							v-bind:content="item" 
							v-bind:index="index"
						/>
					</ul>
				</div>
			`,
		});

		// 注册组件
		app.component('todo-item', {
			// 接收组件上的属性的值
			props: ['content', 'index'],
			template: '<li>{{index}} -- {{content}}</li>',
		});

		app.mount('#root');
	</script>
</html>
